<% if (flash && flash.info) { %>
    <div class="alert alert-info alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash.info %>
    </div>
<% } %>

<% if (flash && flash.success) { %>
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash.success %>
    </div>
<% } %>

<% if (flash && flash.warning) { %>
    <div class="alert alert-warning alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash.warning %>
    </div>
<% } %>

<% if (flash && flash.error) { %>
    <div class="alert alert-error alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= flash.error %>
    </div>
<% } %>

<script>
    setTimeout(function() {
        $('.alert').fadeOut('slow');
    }, 3000); 
</script>
    