<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="/admin/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="/admin/users">
                    <i class="fa fa-user"></i> <span>Users</span>
                </a>
            </li>
        </ul>
    </section>
</aside>
