<% include ./../layout/header.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <% include ./../layout/partials/page-header-section.ejs %>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Permission List</h3>&nbsp;&nbsp;
                <a href="/admin/permission" class="btn btn-success">Add Permission</a>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <% include  ./../layout/partials/alert-section.ejs %>
                <table id="permissionList" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Permission name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Permission name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<% include ./../layout/footer.ejs %>
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables/dataTables.bootstrap.js"></script>

<script type="text/javascript">
    $(function () {
        $("#permissionList").dataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/admin/permission/list",
            'columns': [
                {data: 'name'},
                {
                    data: 'status',
                    searchable: false,
                    sortable: false,
                    render: function (status, type, full, meta) {
                        return status == 1 ? 'On' : 'Off';
                    }
                },
                {
                    data: "id",
                    searchable: false,
                    sortable: false,
                    render: function (id, type, full, meta) {
                        return '<a href="/admin/permission/' + id + '"><i class="fa fa-pencil" data-toggle="tooltip" title="Update"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp' +
                         '<a href="/admin/permission/'+ id +'/delete"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>';
                    }
                },
            ]
        });
    });
</script>

</body>
</html>
