<% include ./../layout/partials/head-section.ejs %>
<body class="hold-transition login-page">
  <div class="login-box">
      <div class="login-logo">
          <a><b>Mentavio</b>CMS</a>
      </div>
      <div class="login-box-body">
          <p class="login-box-msg">Enter your registered email Id to get reset password link.</p>

          <form id="forgot-password" action="/admin/forgot-password" method="POST">
              <% include ./../layout/partials/alert-section.ejs %>
              <div class="form-group has-feedback">
                  <input type="email" name="email" class="form-control" placeholder="Email">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
              </div>
              <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <a href="login">Login</a><br>
                        </div>
                    </div>
                  <div class="col-xs-4 float-right">
                      <button type="submit" class="btn btn-success btn-block btn-flat ">Submit</button>
                  </div>
              </div>
          </form>

      </div>
  </div>

</body>
<% include ./../layout/partials/footer-script-section.ejs %>
<script type="text/javascript" src="/js/auth.js"></script>
</html>
