<% include ./../layout/partials/head-section.ejs %>
<body class="hold-transition login-page">
  <div class="login-box">
      <div class="login-logo">
          <a><b>Mentavio</b>CMS</a>
      </div>
      <div class="login-box-body">
          <p class="login-box-msg">Reset Password</p>

          <form id="reset-password" action="/admin/reset-password" method="POST">
            <% include ./../layout/partials/alert-section.ejs %>
            <% if (typeof responseData === 'object' && responseData) { %>
            <div class="form-group has-feedback">
              <input type="hidden" name="token" value="<%= typeof responseData === 'object' && responseData ? responseData.forgot_password_token : '' %>">
                <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

              <div class="row">
                  <div class="col-xs-4 float-right">
                      <button type="submit" class="btn btn-success btn-block btn-flat ">Submit</button>
                  </div>
              </div>
              <% } %>
          </form>

      </div>
  </div>

</body>
<% include ./../layout/partials/footer-script-section.ejs %>
<script type="text/javascript" src="/js/auth.js"></script>
</html>
