<% include ./../layout/header.ejs %>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <% include ./../layout/partials/page-header-section.ejs %>
    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">403 Forbidden Page</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
                <section class="content">
                        <div class="error-page">
                          <h2 class="headline text-yellow"> 404</h2>
                  
                          <div class="error-content">
                            <h3><i class="fa fa-warning text-yellow"></i> Oops!  Forbidden page.</h3>
                  
                            <p>
                              Sorry , You have no rights for access this page.
                              Meanwhile, you may <a href="/dashboard">return to dashboard</a>.
                            </p>
                          </div>
                          <!-- /.error-content -->
                        </div>
                        <!-- /.error-page -->
                      </section>
        </div>
        <!-- /.box-body -->
        <div class="box-footer text-center">
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<% include ./../layout/footer.ejs %>
</body>
</html>
